<h1 class="display-1"> Welcome to <%= @team.team_name %>'s Team Page </h1>

<h4><em>
  Home of <%= @team.team_mascot %>
</em></h4>

<blockquote class="blockquote text-center"><em>"<%= @team.team_motto %>"</em></blockquote>



<% if @team.players.empty? %>
  <%= "There are no players on this team." %>
<% else %>
  List of players: <br>
  <% @team.players.each do |player| %>
    <%= link_to player.name, player %><br>
  <% end %>
<% end %>
<br>
<hr>
<%= link_to "Return to view all teams in the #{@team.league.league_name} league", league_path(@team.league) %>
