<h2>Welcome to The League! </h2>

<h4>New York's premier recreational sports league.</h4>

<h4>Please sign in below:</h4>

<%= form_with(scope: "session", url: sessions_path, local: true) do |form| %>
  <% if @error %>
    <div id="error_explanation">
      <ul>
        <li><%= @error %></li>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>

<%= link_to "Register New Player", new_player_path %>
