<h1> <%= @league.league_name %> League Page </h1>

<% if @league.teams.empty? %>
  <%= "There are currently no teams in this league." %> <br>
    <% if @logged_in_player.captain %>
      <%= "As a League Captain, you may create your own." %>
    <% else %>
      <%= "Contact a League Captain to set up a team." %>
    <% end %>
<% else %>
  List of all teams in this league:
  <br>
  <% @league.teams.each do |team| %>
    <%= link_to team.team_name, team_path(team)  %> <br>
  <% end %>
<% end %>

<hr>
<% if @logged_in_player.captain %>
  <%= link_to "Create a new team", new_team_path %> <br>
<% end %>
<%= link_to "Return to view all leagues for #{@league.sport.sports_name}", sport_path(@league.sport) %>
