<h1> <%= @sport.sports_name %> </h1>

<h3> All leagues for <%= @sport.sports_name %> </h3>

<% @selected_leagues.each do |league| %>

<%= link_to league.league_name, league_path(league) %> <br>

<% end %>

<% if @logged_in_player.admin %>
<%= link_to "create a new league", new_league_path %><br>
<% else %>
<% end %>
<%= link_to "Return to view all sports", sports_path %>
