<%= form_with model: @player do |f| %>

<% if flash[:errors] %>
  <ol> <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
  <% end %></ol>
<% end  %>


<p>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %> <br>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %> <br>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br>
  </div>

  <div class="field">
      <%= f.label :captain %>
      <%= f.check_box :captain %> <br>
  </div>

    <%= f.submit %>


<% end %>
