<h1> <%= @player.name %> </h1>


<h2> <%= @player.name %>'s Teams </h2>

<% @player.teams.each do |team| %>
  <%= link_to team.team_name, team %><br>

  <% end %>

<%= link_to "Join an existing team", new_player_team_path %>
<%= link_to "Delete this player", player_path(@player), method: 'delete' %>
<%= link_to "Browse available sports and leagues", sports_path %>
