<h1> <%= @player.name %> </h1>


<h2> Teams </h2>
  <% if @player.teams.empty? && @player == @logged_in_player %>
    <p> <%= @player.name %> is not part of any teams. Please click on the button below to join a team.
  <% else %>
    <% @player.teams.each do |team| %>
      <%= link_to team.team_name, team %><br>
    <% end %>

  <% end %> <br> <br> <br>
  <hr>

<% if @player == @logged_in_player %>
  <%= link_to "Join an existing team", new_player_team_path %> <br>
  <%= link_to "Leave a team", new_player_team_path %> <br>
  <%= link_to "Delete this player", player_path(@player), method: 'delete' %> <br>
  <% if @player.captain? %>
    <%= link_to "Create a team", new_team_path %><br>
  <% end %>
    <%= link_to "Browse available sports and leagues", sports_path %>
<% end %>
