<!DOCTYPE html>
<html>
  <head>
    <title>RecLeague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if @logged_in_player %>
              <li>Logged in as: <%= @logged_in_player.username %></li>
              <li><%= link_to "My Profile", player_path(@logged_in_player) %></li>
              <li><%= link_to "Logout", logout_path, method: 'delete' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  <body>
    <div class ="container">
      <%= yield %>
    </div>
  </body>
</html>
