<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "RecLeague", '/home', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if @logged_in_player %>
            <li class="logged_in_as_text"> Logged in as: <%= @logged_in_player.name %> </li>
            <li><%= link_to "My Profile", @logged_in_player %></li>
              <li><%= link_to "Log out", logout_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to "Register", new_player_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  <body>
    <div class ="container">
      <%= yield %>
    </div>
  </body>
</html>
